@use "../../scss/color.scss" as *;

button {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.button {
  &__content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__icon {
    font-size: 1.4rem;
  }
  &__active {
    background-color: $primary-accent !important;
    color: $secondary-font !important;
  }
}

body.true .button {
  background-color: $primary-background;
  color: $primary-font;
  &:hover {
    background-color: $primary-accent;
    color: $secondary-font;
  }
}

body.false .button {
  background-color: $secondary-background;
  color: $secondary-font;
  &:hover {
    background-color: $primary-accent;
  }
}
