@use "../../scss/color.scss" as *;

body.true .card {
  background-color: $primary-background;
  color: $primary-font;
  &:hover {
    background-color: $primary-accent;
    color: $secondary-font;
  }
}

body.false .card {
  background-color: $secondary-background;
  color: $secondary-font;
  &:hover {
    background-color: $primary-accent;
  }
}

.card {
  padding: 20px;
  border-radius: 6px;
}
