@use "../../scss/color.scss" as *;

body.true .collapse__chevron-active,
body.true .collapse__chevron-inactive {
  color: $primary-font;
}

body.false .collapse__chevron-active,
body.false .collapse__chevron-inactive {
  color: $secondary-font;
}

body.false .collapse__title {
  background-color: $secondary-background;
  color: $secondary-font;
}

body.true .collapse__title {
  background-color: $primary-background;
  color: $primary-font;
  &:hover {
    color: $secondary-font;
  }
}

.collapse {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 10px;
  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 60px;
    text-transform: capitalize;
    padding: 10px 10px 10px 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      background-color: $primary-accent !important;
    }
  }
  &__content {
    min-width: 100%;
    padding: 15px 5px;
    &-hidden {
      display: none;
    }
  }
  &__chevron {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.4rem;
    pointer-events: none;
  }
  &__chevron-inactive {
    @extend .collapse__chevron;
    transform: rotate(180deg) translateY(-3px);
  }
  &__chevron-active {
    @extend .collapse__chevron;
    transform: translateY(3px);
  }
}
