@use "../../scss/color.scss" as *;

body.true .ContactForm__button {
  background-color: $secondary-background;
  color: $secondary-font;
}

body.false .ContactForm__button {
  background-color: $primary-background;
  color: $primary-font;
  &:hover {
    color: $secondary-font;
  }
}

body.true .formWrapper {
  background-color: $primary-background;
}

body.false .formWrapper {
  background-color: $secondary-background;
}

.formWrapper {
  padding: 20px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__input,
  &__textarea {
    display: block;
    padding: 10px 20px;
    font-size: inherit;
    font-family: inherit;
  }
  &__textarea {
    min-height: 150px;
  }
  &__UserWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .formWrapper {
    width: auto;
  }
  .ContactForm {
    &__UserWrapper {
      flex-direction: row;
    }
  }
}
