@use "../../scss/color.scss" as *;

.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__input,
  &__textarea {
    display: block;
    padding: 10px 20px;
    font-size: inherit;
    font-family: inherit;
  }
  &__textarea {
    min-height: 150px;
  }
  &__UserWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__button:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .ContactForm {
    &__UserWrapper {
      flex-direction: row;
    }
  }
}
