.projects {
  display: flex;
  align-items: center;
  gap: 50px;
  &__arrow {
    font-size: 3rem;
    cursor: pointer;
  }
}

.project {
  flex: 1;
  align-self: flex-start;
  &__img {
    width: 250px;
    height: 250px;
    aspect-ratio: 16/9;
    border-radius: 6px;
    object-fit: cover;
  }
  &__title {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.hidden {
  visibility: hidden;
}
