@use "../../scss/color.scss" as *;

body.true header {
  background-color: $secondary-background;
  color: $secondary-font;
}

body.false header {
  background-color: $primary-background;
  color: $primary-font;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding-inline: 2rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: headerPop 300ms ease-in forwards;
  animation-delay: 600ms;
}

@keyframes headerPop {
  to {
    opacity: 1;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  &__img {
    width: 50px;
  }
  &__icon {
    font-size: 1.4rem;
    cursor: pointer;
  }
}

.mobileNavBtn {
  font-size: 2rem;
}

.mobileNavHidden {
  display: none;
}

body.true .mobileNav {
  background-color: $primary-background;
  color: $primary-font;
}

body.false .mobileNav {
  background-color: $secondary-background;
  color: $secondary-font;
}

.mobileNavBtn {
  cursor: pointer;
}

.mobileNav {
  font-weight: 600;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__xmark {
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  &__icon {
    cursor: pointer;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.mainNav {
  display: none;
  &__ul {
    display: flex;
    gap: 1rem;
    font-weight: 600;
  }
  &__li {
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .mobileNavBtn {
    display: none;
  }

  .mobileNav {
    display: none;
  }

  .mainNav {
    display: flex;
  }
}
