@use "../../scss/color.scss" as *;

body.true header {
  background-color: $secondary-background;
  color: $secondary-font;
}

body.false header {
  background-color: $primary-background;
  color: $primary-font;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-inline: 2rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: headerPop 300ms ease-in forwards;
  animation-delay: 600ms;
}

@keyframes headerPop {
  to {
    opacity: 1;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  &__img {
    width: 50px;
  }
  &__icon {
    font-size: 2rem;
    cursor: pointer;
  }
}

.mainNav {
  &__ul {
    display: flex;
    gap: 1rem;
    font-weight: 600;
  }
  &__li {
    cursor: pointer;
  }
}
