main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section.about,
section.skills,
section.projects,
section.contact {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about {
  &__content {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  &__section {
    &-right {
      width: 50%;
    }
  }
}
