main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section.about,
section.skills,
section.projects,
section.contact {
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about {
  &__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 100px;
  }
  &__section-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    &__content {
      flex-direction: row;
      gap: 50px;
    }
    &__section-left {
      width: 40%;
    }
    &__section-right {
      width: 60%;
    }
  }

  section.about,
  section.skills,
  section.projects,
  section.contact {
    margin: 100px auto;
  }
}
