footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  padding: 50px;
}

footer ul {
  display: flex;
  gap: 10px;
  font-size: 1.6rem;
}
